<hr style="margin-top: -10px; margin-bottom: 7px; width: 210px;">

<div class="healer-chest">
    <div class="first-row" style="display: flex;">
        <button class="btn btn-outline-light">
            <img src="{{ url_for('static', filename='images/nobgicons/ast.png') }}">
        </button>
        <span class="gcd" style="text-align: center;">2.43</span>

        <button class="btn btn-outline-light">
            <img src="{{ url_for('static', filename='images/nobgicons/ast.png') }}">
        </button>
        <span class="gcd" style="text-align: center;">2.34</span>

        <button class="btn btn-outline-light">
            <img src="{{ url_for('static', filename='images/nobgicons/ast.png') }}">
        </button>
        <span class="gcd" style="text-align: center;">2.33</span>

        <button class="btn btn-outline-light">
            <img src="{{ url_for('static', filename='images/nobgicons/sch.png') }}">
        </button>
        <span class="gcd" style="text-align: center;">2.40</span>

        <button class="btn btn-outline-light">
            <img src="{{ url_for('static', filename='images/nobgicons/sch.png') }}">
        </button>
        <span class="gcd" style="text-align: center;">2.31</span>
    </div>

    <div class="second-row" style="display: flex;">
        <button class="btn btn-outline-light">
            <img src="{{ url_for('static', filename='images/nobgicons/whm.png') }}">
        </button>
        <span class="gcd" style="text-align: center;">2.45</span>

        <button class="btn btn-outline-light">
            <img src="{{ url_for('static', filename='images/nobgicons/whm.png') }}">
        </button>
        <span class="gcd" style="text-align: center;">2.38</span>

        <button class="btn btn-outline-light">
            <img src="{{ url_for('static', filename='images/nobgicons/whm.png') }}">
        </button>
        <span class="gcd" style="text-align: center;">2.34</span>

        <button class="btn btn-outline-light">
            <img src="{{ url_for('static', filename='images/nobgicons/sge.png') }}">
        </button>
        <span class="gcd" style="text-align: center;">2.45</span>
    </div>
</div>
<hr style="margin-top: 3px; margin-bottom: 7px; width: 210px;">
<div class="melee-chest">
    <div class="first-row" style="display: flex;">
        <button class="btn btn-outline-light">
            <img src="{{ url_for('static', filename='images/nobgicons/drg.png') }}">
        </button>
        <span class="gcd" style="text-align: center;">2.50</span>

        <button class="btn btn-outline-light">
            <img src="{{ url_for('static', filename='images/nobgicons/drg.png') }}">
        </button>
        <span class="gcd" style="text-align: center;">2.46</span>

        <button class="btn btn-outline-light">
            <img src="{{ url_for('static', filename='images/nobgicons/rpr.png') }}">
        </button>
        <span class="gcd" style="text-align: center;">2.50</span>

        <button class="btn btn-outline-light">
            <img src="{{ url_for('static', filename='images/nobgicons/rpr.png') }}">
        </button>
        <span class="gcd" style="text-align: center;">2.49</span>

        <button class="btn btn-outline-light">
            <img src="{{ url_for('static', filename='images/nobgicons/nin.png') }}">
        </button>
        <span class="gcd" style="text-align: center;">2.12</span>
    </div>

    <div class="second-row" style="display: flex; justify-content: start;">
        <button class="btn btn-outline-light">
            <img src="{{ url_for('static', filename='images/nobgicons/mnk.png') }}">
        </button>
        <span class="gcd" style="text-align: center;">1.94</span>

        <button class="btn btn-outline-light">
            <img src="{{ url_for('static', filename='images/nobgicons/mnk.png') }}">
        </button>
        <span class="gcd" style="text-align: center;">1.93</span>

        <button class="btn btn-outline-light">
            <img src="{{ url_for('static', filename='images/nobgicons/sam.png') }}">
        </button>
        <span class="gcd" style="text-align: center;">2.15</span>

        <button class="btn btn-outline-light">
            <img src="{{ url_for('static', filename='images/nobgicons/sam.png') }}">
        </button>
        <span class="gcd" style="text-align: center;">2.08</span>

        <button class="btn btn-outline-light">
            <img src="{{ url_for('static', filename='images/nobgicons/sam.png') }}">
        </button>
        <span class="gcd" style="text-align: center;">2.00</span>
    </div>


</div>
<hr style="margin-top: 3px; margin-bottom: 7px; width: 210px;">
<div class="caster-chest">
    <div class="first-row" style="display: flex;">
        <button class="btn btn-outline-light">
            <img src="{{ url_for('static', filename='images/nobgicons/blm.png') }}">
        </button>
        <span class="gcd" style="text-align: center; margin-left: -2px;">2521</span>
    </div>
</div>

