<div class="healer-chest">
    <div class="ast-bis" style="display: flex;">
        <button class="btn btn-outline-light">
            <img src="{{ url_for('static', filename='images/nobgicons/ast.png') }}">
        </button>
        <span class="gcd" style="text-align: center;">2.43</span>

        <button class="btn btn-outline-light">
            <img src="{{ url_for('static', filename='images/nobgicons/ast.png') }}">
        </button>
        <span class="gcd" style="text-align: center;">2.34</span>

        <button class="btn btn-outline-light">
            <img src="{{ url_for('static', filename='images/nobgicons/ast.png') }}">
        </button>
        <span class="gcd" style="text-align: center;">2.33</span>
    </div>

    <div class="whm-bis" style="display: flex;">
        <button class="btn btn-outline-light">
            <img src="{{ url_for('static', filename='images/nobgicons/whm.png') }}">
        </button>
        <span class="gcd" style="text-align: center;">2.45</span>

        <button class="btn btn-outline-light">
            <img src="{{ url_for('static', filename='images/nobgicons/whm.png') }}">
        </button>
        <span class="gcd" style="text-align: center;">2.38</span>

        <button class="btn btn-outline-light">
            <img src="{{ url_for('static', filename='images/nobgicons/whm.png') }}">
        </button>
        <span class="gcd" style="text-align: center;">2.34</span>
    </div>

    <div class="sch-bis" style="display: flex;">
        <button class="btn btn-outline-light">
            <img src="{{ url_for('static', filename='images/nobgicons/sch.png') }}">
        </button>
        <span class="gcd" style="text-align: center;">2.40</span>

        <button class="btn btn-outline-light">
            <img src="{{ url_for('static', filename='images/nobgicons/sch.png') }}">
        </button>
        <span class="gcd" style="text-align: center;">2.31</span>
    </div>

    <div class="sge-bis" style="display: flex;">
        <button class="btn btn-outline-light">
            <img src="{{ url_for('static', filename='images/nobgicons/sge.png') }}">
        </button>
        <span class="gcd" style="text-align: center;">2.45</span>
    </div>


</div>