<hr style="margin-top: -10px; margin-bottom: 7px; margin-left:6px; width: 207px;">

<div class="head">
    <div class="first-row" style="display: flex; justify-content: center;">
        <!--DRK-->
        <!--250-->
        <button class="btn btn-outline-light">
            <a href="{{ links['drk-250'] }}" target="_blank">
                <img src="{{ url_for('static', filename='images/nobgicons/drk.png') }}">
            </a>
        </button>
        <span class="gcd" style="text-align: center;">2.50</span>

        <!--245-->
        <button class="btn btn-outline-light">
            <a href="{{ links['drk-245'] }}" target="_blank">
                <img src="{{ url_for('static', filename='images/nobgicons/drk.png') }}">
            </a>
        </button>
        <span class="gcd" style="text-align: center;">2.45</span>

        <!-- WAR-->
        <!--250-->
        <button class="btn btn-outline-light">
            <a href="{{ links['war-250'] }}" target="_blank">
                <img src="{{ url_for('static', filename='images/nobgicons/war.png') }}">
            </a>
        </button>
        <span class="gcd" style="text-align: center;">2.50</span>

        <!--245-->
        <button class="btn btn-outline-light">
            <a href="{{ links['war-245'] }}" target="_blank">
                <img src="{{ url_for('static', filename='images/nobgicons/war.png') }}">
            </a>
        </button>
        <span class="gcd" style="text-align: center;">2.45</span>

        <!--250-->
        <button class="btn btn-outline-light">
            <a href="{{ links['war-240'] }}" target="_blank">
                <img src="{{ url_for('static', filename='images/nobgicons/war.png') }}">
            </a>
        </button>
        <span class="gcd" style="text-align: center;">2.40</span>

    </div>

    <div class="second-row" style="display: flex; justify-content: center;">
        <!--GNB 250-->
        <button class="btn btn-outline-light">
            <a href="{{ links['gnb-250'] }}" target="_blank">
                <img src="{{ url_for('static', filename='images/nobgicons/gnb.png') }}">
            </a>
        </button>
        <span class="gcd" style="text-align: center;">2.50</span>

        <!--GNB 246-->
        <button class="btn btn-outline-light">
            <a href="{{ links['gnb-246'] }}" target="_blank">
                <img src="{{ url_for('static', filename='images/nobgicons/gnb.png') }}">
            </a>
        </button>
        <span class="gcd" style="text-align: center;">2.46</span>

        <!--GNB 245-->
        <button class="btn btn-outline-light">
            <a href="{{ links['gnb-245'] }}" target="_blank">
                <img src="{{ url_for('static', filename='images/nobgicons/gnb.png') }}">
            </a>
        </button>
        <span class="gcd" style="text-align: center;">2.45</span>

        <!--GNB 241-->
        <button class="btn btn-outline-light">
            <a href="{{ links['gnb-241'] }}" target="_blank">
                <img src="{{ url_for('static', filename='images/nobgicons/gnb.png') }}">
            </a>
        </button>
        <span class="gcd" style="text-align: center;">2.41</span>

        <!--PLD 2.50-->
        <button class="btn btn-outline-light">
            <a href="{{ links['pld-250'] }}" target="_blank">
                <img src="{{ url_for('static', filename='images/nobgicons/pld.png') }}">
            </a>
        </button>
        <span class="gcd" style="text-align: center;">2.50</span>
    </div>
</div>

<hr style="margin-top: 3px; margin-bottom: 7px; margin-left: 6px; width: 207px;">

<div class="head">
    <div class="first-row" style="display: flex; justify-content: center;">
        <button class="btn btn-outline-light">
            <a href="{{ links['mnk-194'] }}" target="_blank">
                <img src="{{ url_for('static', filename='images/nobgicons/mnk.png') }}">
            </a>
        </button>
        <span class="gcd" style="text-align: center;">1.94</span>

        <button class="btn btn-outline-light">
            <a href="{{ links['mnk-193'] }}" target="_blank">
                <img src="{{ url_for('static', filename='images/nobgicons/mnk.png') }}">
            </a>
        </button>
        <span class="gcd" style="text-align: center;">1.93</span>

        <button class="btn btn-outline-light">
            <a href="{{ links['sam-208'] }}" target="_blank">
                <img src="{{ url_for('static', filename='images/nobgicons/sam.png') }}">
            </a>
        </button>
        <span class="gcd" style="text-align: center;">2.08</span>

        <button class="btn btn-outline-light">
            <a href="{{ links['sam-200'] }}" target="_blank">
                <img src="{{ url_for('static', filename='images/nobgicons/sam.png') }}">
            </a>
        </button>
        <span class="gcd" style="text-align: center;">2.00</span>
    </div>
</div>

<hr style="margin-top: 3px; margin-bottom: 7px; margin-left: 29px; width: 161px;">

<div class="head">
    <div class="first-row" style="display: flex; justify-content: center;">

        <button class="btn btn-outline-light">
            <a href="{{ links['ast-234'] }}" target="_blank">
                <img src="{{ url_for('static', filename='images/nobgicons/ast.png') }}">
            </a>
        </button>
        <span class="gcd" style="text-align: center;">2.34</span>

        <button class="btn btn-outline-light">
            <a href="{{ links['whm-234'] }}" target="_blank">
                <img src="{{ url_for('static', filename='images/nobgicons/whm.png') }}">
            </a>
        </button>
        <span class="gcd" style="text-align: center;">2.34</span>

        <button class="btn btn-outline-light">
            <a href="{{ links['sch-231'] }}" target="_blank">
                <img src="{{ url_for('static', filename='images/nobgicons/sch.png') }}">
            </a>
        </button>
        <span class="gcd" style="text-align: center;">2.31</span>
    </div>
</div>

<hr style="margin-top: 3px; margin-bottom: 7px; margin-left: 50px; width: 119px;">


<div class="head">
    <div class="first-row" style="display: flex; justify-content: center;">
        <button class="btn btn-outline-light">
            <a href="{{ links['brd-248'] }}" target="_blank">
                <img src="{{ url_for('static', filename='images/nobgicons/brd.png') }}">
            </a>
        </button>
        <span class="gcd" style="text-align: center;">2.48</span>

        <button class="btn btn-outline-light">
            <a href="{{ links['dnc-249'] }}" target="_blank">
                <img src="{{ url_for('static', filename='images/nobgicons/dnc.png') }}">
            </a>
        </button>
        <span class="gcd" style="text-align: center;">2.49</span>

        <button class="btn btn-outline-light">
            <a href="{{ links['mch-250'] }}" target="_blank">
                <img src="{{ url_for('static', filename='images/nobgicons/mch.png') }}">
            </a>
        </button>
        <span class="gcd" style="text-align: center;">2.50</span>
    </div>
</div>

<hr style="margin-top: 3px; margin-bottom: 7px; margin-left: 50px; width: 119px;">

<div class="head">
    <div class="first-row" style="display: flex; justify-content: center;">
        <button class="btn btn-outline-light">
            <a href="{{ links['blm-2521'] }}" target="_blank">
                <img src="{{ url_for('static', filename='images/nobgicons/blm.png') }}">
            </a>
        </button>
        <span class="gcd" style="text-align: center; margin-left: -3px;">2521</span>
    </div>
</div>


