<hr style="margin-top: -10px; margin-bottom: 7px; width: 210px;">

<div class="legs">

    <div class="first-row" style="display: flex;">
            <button class="btn btn-outline-light">
                <img src="{{ url_for('static', filename='images/nobgicons/drk.png') }}">
            </button>
            <span class="gcd" style="text-align: center;">2.50</span>

            <button class="btn btn-outline-light">
                <img src="{{ url_for('static', filename='images/nobgicons/drk.png') }}">
            </button>
            <span class="gcd"  style="text-align: center;">2.45</span>

            <button class="btn btn-outline-light">
                <img src="{{ url_for('static', filename='images/nobgicons/war.png') }}">
            </button>
            <span class="gcd" style="text-align: center;">2.50</span>

            <button class="btn btn-outline-light">
                <img src="{{ url_for('static', filename='images/nobgicons/war.png') }}">
            </button>
            <span class="gcd" style="text-align: center;">2.45</span>

            <button class="btn btn-outline-light">
                <img src="{{ url_for('static', filename='images/nobgicons/war.png') }}">
            </button>
            <span class="gcd" style="text-align: center;">2.40</span>

        </div>

        <div class="second-row" style="display: flex;">
            <button class="btn btn-outline-light">
                <img src="{{ url_for('static', filename='images/nobgicons/gnb.png') }}">
            </button>
            <span class="gcd"  style="text-align: center;">2.50</span>

            <button class="btn btn-outline-light">
                <img src="{{ url_for('static', filename='images/nobgicons/gnb.png') }}">
            </button>
            <span class="gcd"  style="text-align: center;">2.46</span>

            <button class="btn btn-outline-light">
                <img src="{{ url_for('static', filename='images/nobgicons/gnb.png') }}">
            </button>
            <span class="gcd" style="text-align: center;">2.45</span>

            <button class="btn btn-outline-light">
                <img src="{{ url_for('static', filename='images/nobgicons/gnb.png') }}">
            </button>
            <span class="gcd" style="text-align: center;">2.44</span>

            <button class="btn btn-outline-light">
                <img src="{{ url_for('static', filename='images/nobgicons/gnb.png') }}">
            </button>
            <span class="gcd" style="text-align: center;">2.41</span>
        </div>

        <div class="third-row" style="display: flex;">
            <button class="btn btn-outline-light">
                <img src="{{ url_for('static', filename='images/nobgicons/pld.png') }}">
            </button>
            <span class="gcd" style="text-align: center;">2.50</span>
        </div>
    </div>

<hr style="margin-top: 3px; margin-bottom: 7px; width: 125px;">

<div class="legs">
        <div class="first-row" style="display: flex;">
        <button class="btn btn-outline-light">
            <a href="{{ links['blm-1292'] }}" target="_blank">
                <img src="{{ url_for('static', filename='images/nobgicons/brd.png') }}">
            </a>
        </button>
        <span class="gcd" style="text-align: center;">2.48</span>

        <button class="btn btn-outline-light">
            <a href="{{ links['blm-824'] }}" target="_blank">
                <img src="{{ url_for('static', filename='images/nobgicons/dnc.png') }}">
            </a>
        </button>
        <span class="gcd" style="text-align: center;">2.49</span>

        <button class="btn btn-outline-light">
            <a href="{{ links['blm-824'] }}" target="_blank">
                <img src="{{ url_for('static', filename='images/nobgicons/mch.png') }}">
            </a>
        </button>
        <span class="gcd" style="text-align: center;">2.50</span>
    </div>
</div>

<hr style="margin-top: 3px; margin-bottom: 7px; width: 125px;">

<div class="legs">
    <div class="first-row" style="display: flex;">
        <button class="btn btn-outline-light">
            <a href="{{ links['blm-1292'] }}" target="_blank">
                <img src="{{ url_for('static', filename='images/nobgicons/blm.png') }}">
            </a>
        </button>
        <span class="gcd" style="text-align: center; margin-left: -3px;">1292</span>

        <button class="btn btn-outline-light">
            <a href="{{ links['blm-824'] }}" target="_blank">
                <img src="{{ url_for('static', filename='images/nobgicons/blm.png') }}">
            </a>
        </button>
        <span class="gcd" style="text-align: center; margin-left: 1px;">824</span>
    </div>
</div>