<button class="btn btn-outline-light">
    <a href="{{ links['drg-250'] }}" target="_blank">
        <img src="{{ url_for('static', filename='images/nobgicons/drg.png') }}">
    </a>
</button>
<span class="gcd" style="text-align: center;">2.50</span>

<button class="btn btn-outline-light">
    <a href="{{ links['drg-246'] }}" target="_blank">
        <img src="{{ url_for('static', filename='images/nobgicons/drg.png') }}">
    </a>
</button>
<span class="gcd" style="text-align: center;">2.46</span>
