<button class="btn btn-outline-light">
    <a href="{{ links['mnk-194'] }}" target="_blank">
        <img src="{{ url_for('static', filename='images/nobgicons/mnk.png') }}">
    </a>
</button>
<span class="gcd" style="text-align: center;">1.94</span>

<button class="btn btn-outline-light">
    <a href="{{ links['mnk-193'] }}" target="_blank">
        <img src="{{ url_for('static', filename='images/nobgicons/mnk.png') }}">
    </a>
</button>
<span class="gcd" style="text-align: center;">1.93</span>
