<button class="btn btn-outline-light">
    <a href="{{ links['sam-215] }}" target="_blank">
        <img src="{{ url_for('static', filename='images/nobgicons/sam.png') }}">
    </a>
</button>
<span class="gcd" style="text-align: center;">2.15</span>

<button class="btn btn-outline-light">
    <a href="{{ links['sam-208] }}" target="_blank">
        <img src="{{ url_for('static', filename='images/nobgicons/sam.png') }}">
    </a>
</button>
<span class="gcd" style="text-align: center;">2.08</span>

<button class="btn btn-outline-light">
    <a href="{{ links['sam-200] }}" target="_blank">
        <img src="{{ url_for('static', filename='images/nobgicons/sam.png') }}">
    </a>
</button>
<span class="gcd" style="text-align: center;">2.00</span>




