.boss-img {
    width: 220px;
    height: 112.5px;
    margin: 0;
    border: 1px solid black;
    border-radius: 5px;
}

.btn {
    padding: 2px;
    margin-bottom: 5px;
}


.loot-img {
    width: 29.7px;
    border: 1px solid black;
    border-radius: 5px;
}

.loot-button {
    margin-bottom: 0px;
    padding: 0.5px;
    size: auto;
}

.kokytos-loot-details,
.panda-loot-details,
.themis-loot-details,
.athena-loot-details {
    font-weight: bold;
}
