a {
    style: text-decoration: none;
    color: black;
}

.boss-img {
    width: 220px;
    height: 112.5px;
    margin: 0;
    border: 1px solid black;
    border-radius: 5px;
}

.btn {
    padding: 2px;
    margin-bottom: 5px;
}


.loot-img {
    width: 29.7px;
    border: 1px solid black;
    border-radius: 5px;
}

.loot-button {
    margin-bottom: 0px;
    padding: 0.5px;
    size: auto;
}

.kokytos-loot-details,
.panda-loot-details,
.themis-loot-details,
.athena-loot-details {
    font-weight: bold;
}

.bis img{
    width: 32px;
    border: 2px solid black;
    border-radius: 9px;
}

.gcd {
    position: relative;
    font-weight: bold;
    font-size: 13px;
    left: 2px;
    top: 22px;
}

.tank,
.healer,
.physical,
.caster,
.melee
 {
    margin-bottom: 10px;
}

.tank .btn,
.healer .btn,
.physical .btn,
.caster .btn,
.melee .btn
{
    margin-right: -38px;
}


/* Bis */

/* CHEST */

.healer-chest img,
.caster-chest img,
.melee-chest img
{
    width: 30px;
    position: relative;
    bottom: 8px;
}

.healer-chest .gcd,
.caster-chest .gcd,
.melee-chest .gcd
 {
    position: relative;
    left: -11px;
    top: 30px;
}

.healer-chest .btn,
.caster-chest .btn,
.melee-chest .btn
 {
    border: 2px solid black;
    height: 50px;
    margin-left: -20px;
    position: relative;
    left: 20px;
}

/* LEGS */

.legs img
{
    width: 30px;
    position: relative;
    bottom: 8px;
}

.legs .gcd
 {
    position: relative;
    left: -11px;
    top: 30px;
}

.legs .btn
 {
    border: 2px solid black;
    height: 50px;
    margin-left: -20px;
    position: relative;
    left: 20px;
}

/* HEAD */

.head img
{
    width: 30px;
    position: relative;
    bottom: 8px;
}

.head .gcd
 {
    position: relative;
    left: -11px;
    top: 30px;
}

.head .btn
 {
    border: 2px solid black;
    height: 50px;
    margin-left: -20px;
    position: relative;
    left: 20px;
}

/* FEET */

.feet img
{
    width: 30px;
    position: relative;
    bottom: 8px;
}

.feet .gcd
 {
    position: relative;
    left: -11px;
    top: 30px;
}

.feet .btn
 {
    border: 2px solid black;
    height: 50px;
    margin-left: -20px;
    position: relative;
    left: 20px;
}