.boss-img {
    width: 220px;
    height: 112.5px;
    margin: 0;
    border: 1px solid black;
    border-radius: 5px;
}

.btn {
    padding: 2px;
    margin-bottom: 5px;
}


.loot-img {
    width: 29.7px;
    border: 1px solid black;
    border-radius: 5px;
}

.loot-button {
    margin-bottom: 0px;
    padding: 0.5px;
    size: auto;
}

.kokytos-loot-details,
.panda-loot-details,
.themis-loot-details,
.athena-loot-details {
    font-weight: bold;
}

.bis img{
    width: 40px;
    border: 2px solid black;
    border-radius: 9px;
}

.gcd {
    position: relative;
    font-weight: bold;
    font-size: 14px;
    right: 1px;
    top: 30px;
}

.drk,
.gnb,
.pld,
.war,
.ast,
.sch,
.sge,
.whm,
.blm,
.rdm,
.smn
 {
    margin-bottom: 10px;
}

.drk .btn,
.gnb .btn,
.pld .btn,
.war .btn,
.ast .btn,
.sch .btn,
.sge .btn,
.whm .btn,
.blm .btn,
.rdm .btn,
.smn .btn
{
    margin-right: -40px;
}

