<button class="btn btn-outline-light">
    <a href="{{ links['ast-234'] }}" target="_blank">
        <img src="{{ url_for('static', filename='images/nobgicons/ast.png') }}">
    </a>
</button>
<span class="gcd" style="text-align: center;">2.34</span>

<button class="btn btn-outline-light">
    <a href="{{ links['ast-233'] }}" target="_blank">
        <img src="{{ url_for('static', filename='images/nobgicons/ast.png') }}">
    </a>
</button>
<span class="gcd" style="text-align: center;">2.33</span>

<button class="btn btn-outline-light">
    <a href="{{ links['ast-243'] }}" target="_blank">
        <img src="{{ url_for('static', filename='images/nobgicons/ast.png') }}">
    </a>
</button>
<span class="gcd" style="text-align: center;">2.43</span>

<button class="btn btn-outline-light">
    <a href="{{ links['sch-240'] }}" target="_blank">
        <img src="{{ url_for('static', filename='images/nobgicons/sch.png') }}">
    </a>
</button>
<span class="gcd" style="text-align: center;">2.40</span>

<button class="btn btn-outline-light">
    <a href="{{ links['sch-231'] }}" target="_blank">
        <img src="{{ url_for('static', filename='images/nobgicons/sch.png') }}">
    </a>
</button>
<span class="gcd" style="text-align: center;">2.31</span>

<button class="btn btn-outline-light">
    <a href="{{ links['whm-245'] }}" target="_blank">
        <img src="{{ url_for('static', filename='images/nobgicons/whm.png') }}">
    </a>
</button>
<span class="gcd" style="text-align: center;">2.45</span>

<button class="btn btn-outline-light">
    <a href="{{ links['whm-238'] }}" target="_blank">
        <img src="{{ url_for('static', filename='images/nobgicons/whm.png') }}">
    </a>
</button>
<span class="gcd" style="text-align: center;">2.38</span>

<button class="btn btn-outline-light">
    <a href="{{ links['whm-234'] }}" target="_blank">
        <img src="{{ url_for('static', filename='images/nobgicons/whm.png') }}">
    </a>
</button>
<span class="gcd" style="text-align: center;">2.34</span>

<button class="btn btn-outline-light">
    <a href="{{ links['sge-245'] }}" target="_blank">
        <img src="{{ url_for('static', filename='images/nobgicons/sge.png') }}">
    </a>
</button>
<span class="gcd" style="text-align: center;">2.45</span>