<button class="btn btn-outline-light">
    <a href="{{ links['ast-234'] }}" target="_blank">
        <img src="{{ url_for('static', filename='images/nobgicons/ast.png') }}">
    </a>
</button>
<span class="gcd" style="text-align: center;">2.34</span>

<button class="btn btn-outline-light">
    <a href="{{ links['ast-233'] }}" target="_blank">
        <img src="{{ url_for('static', filename='images/nobgicons/ast.png') }}">
    </a>
</button>
<span class="gcd" style="text-align: center;">2.33</span>

<button class="btn btn-outline-light">
    <a href="{{ links['ast-243'] }}" target="_blank">
        <img src="{{ url_for('static', filename='images/nobgicons/ast.png') }}">
    </a>
</button>
<span class="gcd" style="text-align: center;">2.43</span>