<button class="btn btn-outline-light">
    <a href="{{ links['sch-240'] }}" target="_blank">
        <img src="{{ url_for('static', filename='images/nobgicons/sch.png') }}">
    </a>
</button>
<span class="gcd" style="text-align: center;">2.40</span>

<button class="btn btn-outline-light">
    <a href="{{ links['sch-231'] }}" target="_blank">
        <img src="{{ url_for('static', filename='images/nobgicons/sch.png') }}">
    </a>
</button>
<span class="gcd" style="text-align: center;">2.31</span>