<div style="display: flex;justify-content: start; max-width: 230px; gap: 5px; margin-bottom: 5px;">
    <button class="btn btn-outline-dark loot-button">
        <img class="loot-img" src="{{ url_for('static', filename='images/loot/weapon.png') }}">
    </button>

    <button class="btn btn-outline-dark loot-button">
        <img class="loot-img" src="{{ url_for('static', filename='images/loot/arm.png') }}">
    </button>

    <button class="btn btn-outline-dark loot-button">
        <img class="loot-img" src="{{ url_for('static', filename='images/loot/minion.png') }}">
    </button>

    <button class="btn btn-outline-dark loot-button">
        <img class="loot-img" src="{{ url_for('static', filename='images/loot/mount.png') }}">
    </button>

    <button class="btn btn-outline-dark loot-button">
        <img class="loot-img" src="{{ url_for('static', filename='images/loot/roll.png') }}">
    </button>
</div>
