<img class="dps-img" src="{{ url_for('static', filename='images/nobgicons/drg.png') }}">
<img class="dps-img" src="{{ url_for('static', filename='images/nobgicons/rpr.png') }}">
<img class="dps-img" src="{{ url_for('static', filename='images/nobgicons/mnk.png') }}">
<img class="dps-img" src="{{ url_for('static', filename='images/nobgicons/sam.png') }}">
<img class="dps-img" src="{{ url_for('static', filename='images/nobgicons/nin.png') }}">
<img class="dps-img" src="{{ url_for('static', filename='images/nobgicons/brd.png') }}">
<img class="dps-img" src="{{ url_for('static', filename='images/nobgicons/dnc.png') }}">
<img class="dps-img" src="{{ url_for('static', filename='images/nobgicons/mch.png') }}">
<img class="dps-img" src="{{ url_for('static', filename='images/nobgicons/rdm.png') }}">
<img class="dps-img" src="{{ url_for('static', filename='images/nobgicons/smn.png') }}">
<img class="dps-img" src="{{ url_for('static', filename='images/nobgicons/blm.png') }}">

<hr>

<div class="legs" style="display: flex;">
    <button class="btn btn-outline-light">
        <a href="{{ links['sam-215'] }}" target="_blank">
            <img src="{{ url_for('static', filename='images/nobgicons/sam.png') }}">
        </a>
    </button>
    <span class="gcd" style="text-align: center;">2.15</span>

    <button class="btn btn-outline-light">
        <a href="{{ links['sam-208'] }}" target="_blank">
            <img src="{{ url_for('static', filename='images/nobgicons/sam.png') }}">
        </a>
    </button>
    <span class="gcd" style="text-align: center;">2.08</span>

    <button class="btn btn-outline-light">
        <a href="{{ links['sam-200'] }}" target="_blank">
            <img src="{{ url_for('static', filename='images/nobgicons/sam.png') }}">
        </a>
    </button>
    <span class="gcd" style="text-align: center;">2.00</span>
</div>

<div class="legs" style="display: flex;">
    <button class="btn btn-outline-light">
        <a href="{{ links['mnk-194'] }}" target="_blank">
            <img src="{{ url_for('static', filename='images/nobgicons/mnk.png') }}">
        </a>
    </button>
    <span class="gcd" style="text-align: center;">1.94</span>

    <button class="btn btn-outline-light">
        <a href="{{ links['mnk-193'] }}" target="_blank">
            <img src="{{ url_for('static', filename='images/nobgicons/mnk.png') }}">
        </a>
    </button>
    <span class="gcd" style="text-align: center;">1.93</span>
</div>

<div class="legs" style="display: flex;">
    <button class="btn btn-outline-light">
        <a href="{{ links['drg-250'] }}" target="_blank">
            <img src="{{ url_for('static', filename='images/nobgicons/drg.png') }}">
        </a>
    </button>
    <span class="gcd" style="text-align: center;">2.50</span>

    <button class="btn btn-outline-light">
        <a href="{{ links['drg-246'] }}" target="_blank">
            <img src="{{ url_for('static', filename='images/nobgicons/drg.png') }}">
        </a>
    </button>
    <span class="gcd" style="text-align: center;">2.46</span>
</div>

<div class="legs" style="display: flex;">

    <button class="btn btn-outline-light">
        <a href="{{ links['rpr-250'] }}" target="_blank">
            <img src="{{ url_for('static', filename='images/nobgicons/rpr.png') }}">
        </a>
    </button>
    <span class="gcd" style="text-align: center;">2.50</span>

    <button class="btn btn-outline-light">
        <a href="{{ links['rpr-249'] }}" target="_blank">
            <img src="{{ url_for('static', filename='images/nobgicons/rpr.png') }}">
        </a>
    </button>
    <span class="gcd" style="text-align: center;">2.49</span>

</div>

<div class="legs" style="display: flex;">
    <button class="btn btn-outline-light">
        <a href="{{ links['nin-212'] }}" target="_blank">
            <img src="{{ url_for('static', filename='images/nobgicons/nin.png') }}">
        </a>
    </button>
    <span class="gcd" style="text-align: center;">2.12</span>
</div>

<div class="legs" style="display: flex;">
    <button class="btn btn-outline-light">
        <a href="{{ links['brd-248'] }}" target="_blank">
            <img src="{{ url_for('static', filename='images/nobgicons/brd.png') }}">
        </a>
    </button>
    <span class="gcd" style="text-align: center;">2.48</span>

    <button class="btn btn-outline-light">
        <a href="{{ links['dnc-249'] }}" target="_blank">
            <img src="{{ url_for('static', filename='images/nobgicons/dnc.png') }}">
        </a>
    </button>
    <span class="gcd" style="text-align: center;">2.49</span>

    <button class="btn btn-outline-light">
        <a href="{{ links['mch-250'] }}" target="_blank">
            <img src="{{ url_for('static', filename='images/nobgicons/mch.png') }}">
        </a>
    </button>
    <span class="gcd" style="text-align: center;">2.50</span>
</div>

<div class="legs" style="display: flex;">
    <button class="btn btn-outline-light">
        <a href="{{ links['blm-2521'] }}" target="_blank">
            <img src="{{ url_for('static', filename='images/nobgicons/blm.png') }}">
        </a>
    </button>
    <span class="gcd" style="text-align: center; margin-left: -3px;">2521</span>

    <button class="btn btn-outline-light">
        <a href="{{ links['blm-1292'] }}" target="_blank">
            <img src="{{ url_for('static', filename='images/nobgicons/blm.png') }}">
        </a>
    </button>
    <span class="gcd" style="text-align: center; margin-left: -3px;">1292</span>

    <button class="btn btn-outline-light">
        <a href="{{ links['blm-824'] }}" target="_blank">
            <img src="{{ url_for('static', filename='images/nobgicons/blm.png') }}">
        </a>
    </button>
    <span class="gcd" style="text-align: center; margin-left: 1px;">824</span>
</div>

<div class="legs" style="display: flex;">
    <button class="btn btn-outline-light">
        <a href="{{ links['smn-248'] }}" target="_blank">
            <img src="{{ url_for('static', filename='images/nobgicons/smn.png') }}">
        </a>
    </button>
    <span class="gcd" style="text-align: center;">2.48</span>

    <button class="btn btn-outline-light">
        <a href="{{ links['smn-247'] }}" target="_blank">
            <img src="{{ url_for('static', filename='images/nobgicons/smn.png') }}">
        </a>
    </button>
    <span class="gcd" style="text-align: center;">2.47</span>

    <button class="btn btn-outline-light">
        <a href="{{ links['smn-246'] }}" target="_blank">
            <img src="{{ url_for('static', filename='images/nobgicons/smn.png') }}">
        </a>
    </button>
    <span class="gcd" style="text-align: center;">2.46</span>
</div>
<div class="legs" style="display: flex;">
    <button class="btn btn-outline-light">
        <a href="{{ links['rdm-248'] }}" target="_blank">
            <img src="{{ url_for('static', filename='images/nobgicons/rdm.png') }}">
        </a>
    </button>
    <span class="gcd" style="text-align: center;">2.48</span>
</div>
<div class="legs" style="display: flex;"></div>
<div class="legs" style="display: flex;"></div>