<img class="dps-img" src="{{ url_for('static', filename='images/nobgicons/drg.png') }}">
<img class="dps-img" src="{{ url_for('static', filename='images/nobgicons/rpr.png') }}">
<img class="dps-img" src="{{ url_for('static', filename='images/nobgicons/mnk.png') }}">
<img class="dps-img" src="{{ url_for('static', filename='images/nobgicons/sam.png') }}">
<img class="dps-img" src="{{ url_for('static', filename='images/nobgicons/nin.png') }}">
<img class="dps-img" src="{{ url_for('static', filename='images/nobgicons/brd.png') }}">
<img class="dps-img" src="{{ url_for('static', filename='images/nobgicons/dnc.png') }}">
<img class="dps-img" src="{{ url_for('static', filename='images/nobgicons/mch.png') }}">
<img class="dps-img" src="{{ url_for('static', filename='images/nobgicons/rdm.png') }}">
<img class="dps-img" src="{{ url_for('static', filename='images/nobgicons/smn.png') }}">
<img class="dps-img" src="{{ url_for('static', filename='images/nobgicons/blm.png') }}">

