{% extends 'base.html' %}

{% block title %} Index {% endblock %}
{% block content %}

<div class='anabaseos'>

    <div class="kokytos" style="display: flex;">
        <div class="col-2">
            <button class="btn btn-outline-dark" id="kokytos">
                <img class="boss-img" src="{{ url_for('static', filename='images/bosses/p9.jpg') }}">
            </button>

            <div class="kokytos-loot">
                <!-- Kokytos loot here -->
                {% include 'kokytos.html' %}
                <!-- Kokytos loot ends -->
            </div>
        </div>
        <div class="col-2">
            <div class="kokytos-loot-details">
                <div class="earring">
                    <p>Ascension Earring Coffer </p>
                </div>
                <div class="necklace">
                    <p>Ascension Neck Coffer </p>
                </div>
                <div class="bracelet">
                    <p>Ascension Bracelet Coffer </p>
                </div>
                <div class="ring">
                    <p>Ascension Ring Coffer </p>
                </div>
            </div>
        </div>

    </div>

    <div class="pandaemonium" style="display: flex;">
        <div class="col-2">
            <button class="btn btn-outline-dark" id="pandaemonium">
                <img class="boss-img" src="{{ url_for('static', filename='images/bosses/p10.jpeg') }}">
            </button>

            <div class="pandaemonium-loot">
                <!-- Panda loot here -->
                {% include 'pandaemonium.html' %}
                <!-- Panda loot ends -->
            </div>
        </div>
        <div class="col-1">
            p10 loot Here
        </div>
    </div>

    <div class="themis" style="display: flex;">
        <div class="col-2">
            <button class="btn btn-outline-dark" id="themis">
                <img class="boss-img" src="{{ url_for('static', filename='images/bosses/p11.jpg') }}">
            </button>

            <div class="themis-loot">
                <!-- Themis loot here -->
                {% include 'themis.html' %}
                <!-- Themis loot ends -->
            </div>
        </div>
        <div class="col-1">
            p11 loot Here
        </div>
    </div>

    <div class="athena" style="display: flex;">
        <div class="col-2">
            <button class="btn btn-outline-dark" id="athena">
                <img class="boss-img" src="{{ url_for('static', filename='images/bosses/p12.jpg') }}">
            </button>

            <div class="athena-loot">
                <!-- Athena loot here -->
                {% include 'athena.html' %}
                <!-- Athena loot ends -->
            </div>
        </div>
        <div class="col-1">
            p11 loot Here
        </div>
    </div>

</div>

<!--<script src="{{url_for('static', filename='js/boss_loot.js') }}"></script>-->
<!--<script src="{{url_for('static', filename='js/loot-details.js') }}"></script>-->
<script src="{{url_for('static', filename='js/main.js') }}"></script>


{% endblock %}