{% extends 'base.html' %}

{% block title %} Lootmaestrolo {% endblock %}
{% block content %}
<div class="bis" style="display: flex; justify-content: space-between;">
    <div class="tank" style="display: flex;">
        <div class="drk">
            <button class="btn btn-outline-light">
                <img src="{{ url_for('static', filename='images/icons/DarkKnight.png') }}">
            </button>
            <span class="gcd" style="text-align: center;">2.50</span>

            <button class="btn btn-outline-light">
                <img src="{{ url_for('static', filename='images/icons/DarkKnight.png') }}">
            </button>
            <span class="gcd"  style="text-align: center;">2.45</span>
        </div>

        <div class="gnb">
            <button class="btn btn-outline-light">
                <img src="{{ url_for('static', filename='images/icons/Gunbreaker.png') }}">
            </button>
            <span class="gcd"  style="text-align: center;">2.50</span>

            <button class="btn btn-outline-light">
                <img src="{{ url_for('static', filename='images/icons/Gunbreaker.png') }}">
            </button>
            <span class="gcd"  style="text-align: center;">2.46</span>

            <button class="btn btn-outline-light">
                <img src="{{ url_for('static', filename='images/icons/Gunbreaker.png') }}">
            </button>
            <span class="gcd" style="text-align: center;">2.45</span>

            <button class="btn btn-outline-light">
                <img src="{{ url_for('static', filename='images/icons/Gunbreaker.png') }}">
            </button>
            <span class="gcd" style="text-align: center;">2.44</span>

            <button class="btn btn-outline-light">
                <img src="{{ url_for('static', filename='images/icons/Gunbreaker.png') }}">
            </button>
            <span class="gcd" style="text-align: center;">2.41</span>
        </div>

        <div class="pld">
            <button class="btn btn-outline-light">
                <img src="{{ url_for('static', filename='images/icons/Paladin.png') }}">
            </button>
            <span class="gcd" style="text-align: center;">2.50</span>
        </div>

        <div class="war">
            <button class="btn btn-outline-light">
                <img src="{{ url_for('static', filename='images/icons/Warrior.png') }}">
            </button>
            <span class="gcd" style="text-align: center;">2.50</span>

            <button class="btn btn-outline-light">
                <img src="{{ url_for('static', filename='images/icons/Warrior.png') }}">
            </button>
            <span class="gcd" style="text-align: center;">2.45</span>

            <button class="btn btn-outline-light">
                <img src="{{ url_for('static', filename='images/icons/Warrior.png') }}">
            </button>
            <span class="gcd" style="text-align: center;">2.40</span>
        </div>
    </div>

    <div class="healer">
        healer
    </div>

    <div class="melee">
        melee
    </div>

    <div class="phys">
        phys
    </div>

    <div class="caster">
        caster
    </div>
</div>

<hr>

<div class="anabaseos">
    <div class="kokytos" style="display: flex; margin-bottom: 20px;">
        <div class="col-2">
            <button class="btn btn-outline-dark" id="kokytos">
                <img class="boss-img" src="{{ url_for('static', filename='images/bosses/p9.jpg') }}">
            </button>

            <div class="kokytos-loot">
                <!-- Kokytos loot here -->
                {% include 'kokytos.html' %}
                <!-- Kokytos loot ends -->
            </div>
        </div>
        <div class="col-2">
            {% include 'kokytos_loot.html' %}
            <p>Info goes here</p>
            <p>Info goes here</p>
        </div>
        <div class="col-1">
            <p>Tanks</p>
        </div>
        <div class="col-1">
            <p>Healers</p>
        </div>
        <div class="col-1">
            <p>Melee</p>
        </div>
        <div class="col-1">
            <p>Casters</p>
        </div>
        <div class="col-1">
            <p>Phys</p>
        </div>
    </div>

    <div class="pandaemonium" style="display: flex;">
        <div class="col-2">
            <button class="btn btn-outline-dark" id="pandaemonium">
                <img class="boss-img" src="{{ url_for('static', filename='images/bosses/p10.jpeg') }}">
            </button>

            <div class="pandaemonium-loot">
                <!-- Panda loot here -->
                {% include 'pandaemonium.html' %}
                <!-- Panda loot ends -->
            </div>
        </div>
        <div class="col-2">
            {% include 'pandaemonium_loot.html' %}
        </div>
    </div>

    <div class="themis" style="display: flex;">
        <div class="col-2">
            <button class="btn btn-outline-dark" id="themis">
                <img class="boss-img" src="{{ url_for('static', filename='images/bosses/p11.jpg') }}">
            </button>

            <div class="themis-loot">
                <!-- Themis loot here -->
                {% include 'themis.html' %}
                <!-- Themis loot ends -->
            </div>
        </div>
        <div class="col-2">
            {% include 'themis_loot.html' %}
        </div>
    </div>

    <div class="athena" style="display: flex;">
        <div class="col-2">
            <button class="btn btn-outline-dark" id="athena">
                <img class="boss-img" src="{{ url_for('static', filename='images/bosses/p12.jpg') }}">
            </button>

            <div class="athena-loot">
                <!-- Athena loot here -->
                {% include 'athena.html' %}
                <!-- Athena loot ends -->
            </div>
        </div>
        <div class="col-2">
            {% include 'athena_loot.html' %}
        </div>

    </div>
</div>

<script src="{{url_for('static', filename='js/kokytos.js') }}"></script>
<script src="{{url_for('static', filename='js/panda.js') }}"></script>
<script src="{{url_for('static', filename='js/themis.js') }}"></script>
<script src="{{url_for('static', filename='js/athena.js') }}"></script>


{% endblock %}