<button class="btn btn-outline-dark">
    <img class="loot-img" src="{{ url_for('static', filename='images/loot/earring.png') }}">
</button>

<button class="btn btn-outline-dark">
    <img class="loot-img" src="{{ url_for('static', filename='images/loot/necklace.png') }}">
</button>

<button class="btn btn-outline-dark">
    <img class="loot-img" src="{{ url_for('static', filename='images/loot/bracelets.png') }}">
</button>

<button class="btn btn-outline-dark">
    <img class="loot-img" src="{{ url_for('static', filename='images/loot/ring.png') }}">
</button>