<div style="display: flex;justify-content: start; max-width: 230px; gap: 5px; margin-bottom: 5px;">
    <button class="btn btn-outline-dark loot-button" id="earring">
        <img class="loot-img" src="{{ url_for('static', filename='images/loot/earring.png') }}">
    </button>

    <button class="btn btn-outline-dark loot-button" id="necklace">
        <img class="loot-img" src="{{ url_for('static', filename='images/loot/necklace.png') }}">
    </button>

    <button class="btn btn-outline-dark loot-button" id="bracelet">
        <img class="loot-img" src="{{ url_for('static', filename='images/loot/bracelets.png') }}">
    </button>

    <button class="btn btn-outline-dark loot-button" id="ring">
        <img class="loot-img" src="{{ url_for('static', filename='images/loot/ring.png') }}">
    </button>
</div>
