<div style="display: flex;justify-content: start; max-width: 230px; gap: 5px; margin-bottom: 5px;">
    <button class="btn btn-outline-dark loot-button" id="head">
        <img class="loot-img" src="{{ url_for('static', filename='images/loot/head.png') }}">
    </button>

    <button class="btn btn-outline-dark loot-button" id="hands">
        <img class="loot-img" src="{{ url_for('static', filename='images/loot/hands.png') }}">
    </button>

    <button class="btn btn-outline-dark loot-button" id="feet">
        <img class="loot-img" src="{{ url_for('static', filename='images/loot/feet.png') }}">
    </button>

    <button class="btn btn-outline-dark loot-button" id="tome">
        <img class="loot-img" src="{{ url_for('static', filename='images/loot/tome.png') }}">
    </button>

    <button class="btn btn-outline-dark loot-button" id="shine">
        <img class="loot-img" src="{{ url_for('static', filename='images/loot/shine.png') }}">
    </button>
</div>
