<img class="sup-img" src="{{ url_for('static', filename='images/nobgicons/gnb.png') }}">
<img class="sup-img" src="{{ url_for('static', filename='images/nobgicons/war.png') }}">
<img class="sup-img" src="{{ url_for('static', filename='images/nobgicons/drk.png') }}">
<img class="sup-img" src="{{ url_for('static', filename='images/nobgicons/pld.png') }}">
<img class="sup-img" src="{{ url_for('static', filename='images/nobgicons/ast.png') }}">
<img class="sup-img" src="{{ url_for('static', filename='images/nobgicons/whm.png') }}">
<img class="sup-img" src="{{ url_for('static', filename='images/nobgicons/sch.png') }}">
<img class="sup-img" src="{{ url_for('static', filename='images/nobgicons/sge.png') }}">

