<div style="display: flex;justify-content: start; max-width: 230px; gap: 5px; margin-bottom: 5px;">
    <button class="btn btn-outline-dark loot-button">
        <img class="loot-img" src="{{ url_for('static', filename='images/loot/chest.png') }}">
    </button>

    <button class="btn btn-outline-dark loot-button">
        <img class="loot-img" src="{{ url_for('static', filename='images/loot/legs.png') }}">
    </button>

    <button class="btn btn-outline-dark loot-button">
        <img class="loot-img" src="{{ url_for('static', filename='images/loot/solvent.png') }}">
    </button>

    <button class="btn btn-outline-dark loot-button">
        <img class="loot-img" src="{{ url_for('static', filename='images/loot/twine.png') }}">
    </button>
</div>
