<button class="btn btn-outline-light">
    <a href="{{ links['blm-2521'] }}" target="_blank">
        <img src="{{ url_for('static', filename='images/nobgicons/blm.png') }}">
    </a>
</button>
<span class="gcd" style="text-align: center; margin-left: -3px;">2521</span>

<button class="btn btn-outline-light">
    <a href="{{ links['blm-1292'] }}" target="_blank">
        <img src="{{ url_for('static', filename='images/nobgicons/blm.png') }}">
    </a>
</button>
<span class="gcd" style="text-align: center; margin-left: -3px;">1292</span>

<button class="btn btn-outline-light">
    <a href="{{ links['blm-824'] }}" target="_blank">
        <img src="{{ url_for('static', filename='images/nobgicons/blm.png') }}">
    </a>
</button>
<span class="gcd" style="text-align: center; margin-left: 1px;">824</span>