<button class="btn btn-outline-light">
    <a href="{{ links['smn-248'] }}" target="_blank">
        <img src="{{ url_for('static', filename='images/nobgicons/smn.png') }}">
    </a>
</button>
<span class="gcd" style="text-align: center;">2.48</span>

<button class="btn btn-outline-light">
    <a href="{{ links['smn-247'] }}" target="_blank">
        <img src="{{ url_for('static', filename='images/nobgicons/smn.png') }}">
    </a>
</button>
<span class="gcd" style="text-align: center;">2.47</span>

<button class="btn btn-outline-light">
    <a href="{{ links['smn-246'] }}" target="_blank">
        <img src="{{ url_for('static', filename='images/nobgicons/smn.png') }}">
    </a>
</button>
<span class="gcd" style="text-align: center;">2.46</span>